= render 'skills/menu', action: "show_question"

.tab-content
  .tab-pane.active
    %article
      .skill-header
        .row
          .span9
            - if @prev_question
              .manage-button-wrapper.pull-left
                = link_to t(:prev), [@skill, @prev_question], class: "manage-button"
            - if @next_question
              .manage-button-wrapper.pull-left
                = link_to t(:next), [@skill, @next_question], class: "manage-button"
            = render 'questions/manage_buttons', question: @question
        .row
          .span9
            %h3
              = surround "[", "]" do
                = @skill.name
              = @question.title

            = question_image_tag @question

            %h5 Description
            %blockquote= markdown @question.description

            %hr
            #answers
              %h5= t(:answers)
              - @answers.each do |answer|
                = render 'answers/answer', answer: answer

            %hr
            = render 'answers/form', answer: @answer

