= render 'skills/menu', action: "show_question"

.tab-content
  .tab-pane.active
    %article
      .skill-header
        .row
          - if @next_question
            .manage-button-wrapper
              = link_to t(:next), [@skill, @next_question], class: "manage-button"
          - if @prev_question
            .manage-button-wrapper
              = link_to t(:prev), [@skill, @prev_question], class: "manage-button"
          .span8
            %h3
              = surround "[", "]" do
                = @skill.name
              = @question.title

            = question_image_tag @question

            %h5 Description
            %blockquote= simple_format @question.description

