%ul.nav.nav-tabs
  = menu_item t(:available_skills), skills_path
  = menu_item t(:create_new_skill), new_skill_path

  - if action == "edit"
    = menu_item @skill.name, edit_skill_path(@skill)

  - if %w(show edit_question show_question).include? action
    = menu_item @skill.name, skill_path(@skill)

    - if action == "show"
      = menu_item t(:new_questions), new_skill_question_path(@skill)

    - if action == "edit_question"
      = menu_item @question.title, edit_skill_question_path(@skill, @question)

    - if action == "show_question"
      = menu_item @question.title, skill_question_path(@skill, @question)

