= render 'menu', action: "index"

.tab-content
  .tab-pane.active
    #skills
      - @skills.each do |skill|
        .row.skill-row.clearfix
          .span1
            .skill-card
              .skill-card-inner
                .skill
                  %h4= skill.questions.count
          .span8
            .skill-info.clearfix
              = render 'skills/manage_buttons', skill: skill
              %h5
                = link_to skill.name, skill, class: "skill-link"
              %ol.unstyled.horizontal
                - if skill.new?
                  %li
                    %span.new= t(:new_skill)
                %li= l skill.created_at, format: :long
                %li.questions= link_to t(:questions), skill_path(skill, anchor: "#questions"), class: "questions-link"

              %p.description
                = markdown skill.description
              .tags.clearfix
                = succeed ":" do
                  = t(:tags)
                = links_to_tags(skill.tags)

        %hr
