= render 'menu', action: "show"

.tab-content
  .tab-pane.active
    %article
      .skill-header
        .row
          .span8
            %h3
              = @skill.name
              %p.lead
                - if @skill.new?
                  %span.new= t(:new_skill)
                  |
                = l @skill.created_at, format: :long
      .skill-summary
        .row
          .span6
            %h5 Description
            %blockquote= simple_format @skill.description
          .span3
            %dl.dl-horizontal
              %dt= t(:questions_count)
              %dd= @skill.questions.count
              %dt= t(:answered_questions_count)
              %dd= @skill.questions.answered.count
              %dt= t(:tags)
              %dd= links_to_tags(@skill.tags)
      .questions
        - @skill.questions.each do |question|
          .row
            .span1
              .skill-card.question-card
                .skill-card-inner
                  .skill
                    %h5 503
            .span8.question
              - if can? :manage, question or true
                .manage-button-wrapper
                  = link_to t(:delete), [@skill, question], method: :delete, confirm: t(:are_you_sure), class: "manage-button"
                .manage-button-wrapper
                  = link_to t(:edit), edit_skill_question_path(@skill, question), class: "manage-button"
              %h5
                = link_to (question.title || question.picture), skill_question_path(@skill, question), class: "skill-link"

