.masthead
  %ul.nav.nav-pills.pull-right
    %li{class: ("active" if current_page? root_path)}
      = link_to "Home", root_path
    %li
      = link_to "About", "#"
    %li
      = link_to "Contact", "#"
    - if user_signed_in?
      %li.dropdown{class: ("active" if current_page_profile?)}
        = link_to "#", id: "js-user-dropdown", class: "dropdown-toggle", role: "button", :"data-toggle" => "dropdown" do
          = current_user.username
          %b.caret
        %ul#js-user-menu.dropdown-menu{role: "menu", :"aria-labelledby" => "js-user-dropdown" }
          %li= link_to t(:profile), profile_users_path, tabindex: -1
          %li= link_to t(:edit_profile), edit_user_registration_path
      %li
        = link_to t(:sign_out), destroy_user_session_path
    - else
      %li{class: ("active" if current_page? new_user_session_path)}
        = link_to t(:already_member), new_user_session_path
      %li{class: ("active" if current_page? new_user_registration_path)}
        = link_to t(:got_invite), new_user_registration_path

  %h3.muted= "Knowledge base"
