!!!
%html
  %head
    %title Knowledgebase
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-narrow
      = render 'shared/top_nav_bar'
      %hr

      = render 'shared/flashes'

      = yield

      %hr

      .footer
        %p &copy; Company 2013

